@font-face {
    font-family: "Oregon";
    src: url("fonts/Oregon.ttf");
}
@font-face {
    font-family: "Invasible";
    src: url("fonts/Invasible.ttf");
}
@font-face {
    font-family: "Techno";
    src: url("fonts/Techno\ Space.ttf");
}
@font-face {
    font-family: "Davinci";
    src: url("fonts/Davinci.ttf");
}
@font-face {
    font-family: "FontAwesome";
    src: url("fonts/FontAwesome.otf");
}
@font-face {
    font-family: "Excelorate";
    src: url("fonts/Excelorate-Font.otf");
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

* {
    box-sizing: border-box;
}
body {
    font-style: bold;
    color: white;
    background-color: rgb(28, 28, 28);
    font-family: Invasible;
}
section {
    margin-top: 5%;
}
.section-title {
    font-size: 4.5vw;
    margin: 0.7em;
    margin-top: 6.8%;
    margin-bottom: 3.5%;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.navigation-section {
    position: absolute;
    top: 0%;
}
#navigation-section>nav {
    display: flex; 
    width: 100%;
    font-size: 2.5vw;
    margin-top: -5%;
    margin-bottom: -2.5%;
    padding-inline: 5vw;
    border-radius: 1.5%;
    /* background-color: rgba(255, 0, 0, 0.314); */
    background-color: rgba(20, 20, 20, 0.367);
}
#navigation-hyperlinks {
    position: relative;
    width: 65%;
    justify-content: baseline;
    left: 10%;
    /* background-color: aqua; */
    height: auto;
    padding-left: 10%;
}
#navigation-hyperlinks>a {
    font-size: 1.75vw;
    position: relative;
    top: 35%;
    left: 10%;
    margin-inline: 0.5vw;
    padding: 1%;
    text-decoration: solid ;
    color: rgba(211, 211, 211, 0.968);
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

#intro-image-and-text {
    background-image: url(images/cover.png); 
    background-repeat: no-repeat;
    /* background-size: 100%; */
    /* background-clip: border-box; */
    /* background-size: cover; */
    /* background-blend-mode: ; */
    display: flex;
    /* width: 100%; */
    min-width: 125%;
    height: fit-content;
    color: white;
    font-family: Techno;
}
#intro-image {
    width: 50%;
} 
#intro-text {
    padding: 4%;
    border-radius: 15%;
    background-color: rgba(80, 80, 80, 0.353) ;
    align-self: center;
    font-size: 3.5vw; 
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

#all-acheivements, #all-socials {
    padding-inline: 3%;
    justify-content: center;
    /* background-color: aqua; */
    display: flex;
    margin-inline: 3%;
}
.acheivement {
    padding: 5%;
    border-radius: 15%;
    background-color: rgba(240, 248, 255, 0.323);
    justify-content: center;
    font-size: 3.5vw;
    margin-inline: 2%;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.my-social>a>img {
    position: relative;
    justify-self: center;
    width: 65%;
    opacity: 75%;
}
#Instagram {
    margin-left: 5%;
}
#LinkTree {
    margin-right: -3%;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

#contact-me {
    display: flex;
    /* font-family: Davinci; */
    /* font-size: 5vw; */
    flex-direction: column;
    margin: 10%;
    margin-top: 1.75%;
    padding: 5vw;
    border-radius: 0.5%;
    justify-content: center;
    background-color: rgba(67, 67, 67, 0.394);
}
#contact-me>form>div>div>input, #contact-me>form>input, #contact-me>form>div>textarea {
    /* font-style: bold; */
    color: white;
    background-color: rgba(24, 24, 24, 0.708);
    padding: 3.5%;
}
#contact-me>form>div {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 25vw;

    /* background-color: aqua; */
}
#contact-me>form>div>div, #contact-me>form>div>textarea {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;

    /* background-color: red; */
}
#contact-me>form>div>div>input {
    font-size: 1.75vw;
    min-height: 25%;
    border-radius: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#contact-me>form>div>textarea {
    font-size: 1.8vw;
    min-height: 25%;
    min-width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 15%;

    /* background-color: aquamarine; */
}
#contact-me>form>input {
    margin-top: 3%;
    font-family: Davinci;
    font-size: 2.25vw;
    font-weight: 900;
    border-radius: 3%;
    position: relative;
    left: 32.5%;
    min-width: 35%;
    /* background-color: rgb(21, 255, 0); */
}