footer>div {
    color: aliceblue;
    font-size: 2vmin;
    padding: 2.5vmin;
    padding-inline: 10vw;
    height: 18vmin;
    width: 100%;
    border-radius: 2.5em 2.5em 0 0;
    background-color: rgb(25, 25, 25);
}

footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>div>a {
    color: aliceblue;
    font-size: 2vmin;
    text-decoration: none;
}